<div class="row">
  <div class="col-md-12">
    <header>
      <h1 class="text-center">Мониторинг датчиков:</h1>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table id="sensor_values" class="table">
      <tr>
        <th>Датчик</th>
        <th>Тип</th>
        <th>Статус</th>
        <th>Последнии данные</th>
      </tr>
      <% @sensors.each do |sensor| %>
        <tr>
          <td>
            <%= link_to sensor.name, sensor_show_path(id:sensor) %>
          </td>
          <td>
            <%= sensor.model  %>
          </td>
          <td style="color: green">
            Включен
          </td>
          <td>
            <% if sensor.sensor_values.last.present?%>
              <%= (sensor.sensor_values.last.created_at+sensor.time_zona*3600).to_s.slice(0,19) %>
            <% end%>
          </td>
        </tr>
    <% end %>
    </table>
  </div>
</div>






