<h1><%= @sensor.name %></h1>
<table>
  <tr>
    <th width="150">Время:</th>
    <th width="50">Показатель1</th>
    <th width="50">Показатель2</th>
  </tr>
   <% @sensor.sensor_values.each do |val| %>
      <tr>
        <td><%= val.created_at %></td>
        <td><%= val.value1 %></td>
        <td><%= val.value2 %></td>
      </tr>
   <% end %>

</table>